.heading {
  margin-bottom: 42px;
}
.parent-container {
  /* background: #ffe2da; */
  padding: 10px;
  border-radius: 10px;
}
.currency {
  color: var(--primary-color);
}
/* .parent-container {
  display: flex;
  height: 100%;
} */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  /* max-width: 512px; */
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
}
.price {
  color: var(--text-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.line span {
  color: var(--sub-color, #9796a1);
}

.text {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
