.head {
  display: flex;
  justify-content: space-between;
}

/* .loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20%;
}
